.container {
    margin-top: 15px;
}

.avatar {
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #1976d2;
    width: 100px;
}

.icon-button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
}

.profile-title {
    color: primary;
}

.text-field {
    margin-bottom: 100px;
}

.button {
    margin-top: 100px; 
}

.loading {
    display: flex;
    align-items: center;
}

.hidden-input {
    display: none;
  }